<% provide(:title, '投稿一覧') %>
<% @posts.each do |post| %>
    <div class="contents">
        <div class="index">
            <%= link_to(post.content,"/posts/#{post.id}") %><br>
            <div class="index-at">
                <div class="right">
                    <%= post.updated_at %>
                </div>
                <div class="left">
                    <% user =post.user%>
                    <%= link_to(user.user_name,"/users/#{user.id}/show")%>
                </div> 
                <% if Like.find_by(post_id: post.id,user_id: @now_user.id)%>
                    <div class="midle">
                        <%=link_to("いいね取り消し","/likes/#{post.id}/destroy")%>
                    </div>                                          
                <% else %>
                    <div class="midle">
                        <%=link_to("いいね","/likes/#{post.id}/new")%>
                    </div>    
                <% end %>       
            </div>
        </div>
    </div>
<% end %>
    
