<!DOCTYPE html>
<html>
  <head>
  
    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="home.scss">
  </head>

  <body>
    <div class="header-logo">
      <%=link_to("Twitter","/")%>
    </div>
    <div class="header-menus">
      <%=link_to("Twitterとは","/about")%>
      <%=link_to("投稿一覧","/posts/index")%>
    </div>
    <%= yield %>
  </body>
</html>
